SPRING_PROFILES_ACTIVE=prod
POSTGRES_DB=ecom
POSTGRES_USER=__set_me__
POSTGRES_PASSWORD=__set_me_strong__
PGADMIN_EMAIL=admin@ecom.dev
PGADMIN_PASSWORD=__set_me_strong__
SWAGGER_ENABLED=false
API_IMAGE=ghcr.io/your-org/ecom-api
API_TAG=latest
API_REPLICAS=2
JAVA_OPTS=-XX:+UseG1GC -XX:MaxRAMPercentage=75.0 -XX:+ExitOnOutOfMemoryError
