SPRING_PROFILES_ACTIVE=local
API_TAG=local

# Catalog DB
CATALOG_DB=catalog_db
CATALOG_DB_USER=catalog
CATALOG_DB_PASSWORD=catalog

# Order DB
ORDER_DB=order_db
ORDER_DB_USER=orderuser
ORDER_DB_PASSWORD=orderpass

# Payment DB
PAYMENT_DB=payment_db
PAYMENT_DB_USER=paymentuser
PAYMENT_DB_PASSWORD=paymentpass

# pgAdmin
PGADMIN_EMAIL=admin@ecom.dev
PGADMIN_PASSWORD=admin

SWAGGER_ENABLED=true
